doctype
html
    head
        title NoteIBook
        link(rel="stylesheet" href="/css/main.css")
    body
        .container
            #header
                .nav
                    ul.nav.navbar-nav
                        li
                            img(src= "/img/Logo.png")
                        li
                            a(href="/") Home
                        if (currentUser)
                            li
                                a(href="/profile") #{currentUser.username}
                            li
                                a(href="/logout") Logout
                        if (!currentUser)
                            li
                                a(href="/login") Login
                            li
                                a(href="/register") Register
            .container
                if (errorMessage)
                    .alert.alert-danger #{errorMessage}
        block main-content
        .footer
                ul.my-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/about") About
                    li
                        a(href="/support") Support
                    .rights
                        | &copy; Undefined
        include scripts