doctype
html
    head
        title NoteIBook
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        link(rel="stylesheet" href="/css/main.css")
    body
        .container-fluid
            header
                nav.navbar.navbar-inverse
                    div.container-fluid
                        ul.nav.navbar-nav
                            li.nav-item.navbar-header
                                img(src= "/img/Logo.png").img-responsive 
                            li.nav-item
                                a(href="/") Home
                        if (currentUser)
                            ul.nav.navbar-nav.navbar-right
                                li.nav-item
                                    a(href="/profile") #{currentUser.username}
                                li.nav-item
                                    a(href="/logout") Logout
                        if (!currentUser)
                            ul.nav.navbar-nav.navbar-right
                                li.nav-item
                                    a(href="/register") Register
                                li.nav-item
                                    a(href="/login") Login
                if (errorMessage)
                    .alert.alert-danger #{errorMessage}
        block main-content
        .footer
                ul.my-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/about") About
                    li
                        a(href="/support") Support
                    .rights
                        | &copy; Undefined
        include scripts