body,nav,header,div,ul,li{
    margin: 0;
    padding: 0;
    border: 0;
}

div#main-content{
    width: 100%;
}

#container, header, div.row{
    width: 100%;
}

nav li img {
    width: 70%;
    height: 70%;
}

nav ul li{
    text-align: center;
}

nav ul li a{
    font-weight: bold;
    font-size: 120%;
    color: white;
}

li.logo {
    background: no-repeat url(../img/logo.png);
    background-size: 100% 100%;

}

li.logo a{
   min-width: 150px; 
   min-height: 50px;
}

nav ul li:hover{
    background-color: red;
}

.logo:hover {
    background-color: inherit;
}

ul.profile{
    list-style-type: none;
}

div.row{
    margin: 0 auto;
}

div.btn, #create-events{
	margin-top: 2%;
	background-color: red;
}

#create-events{
    font-weight: bold;
    color: white;
}

div.btn:hover, #create-events:hover{
	background-color: black;
}

.container-table, footer ul li a{
    font-family: sans-serif;
    font-weight: bold;
}

.container-table a , footer ul li a{
    display: inline-block;
    height: 50%;
    color: white;
    text-decoration: none;
}

footer {
    margin: 1%;
    border-radius: 2%; 
    color: red;
    font-weight: bold;
}

footer ul {
    list-style-type: none;
}

/*nav ul li {
    height: 100%;
    padding: 0;
    line-height: 100%;
}

nav ul li a {
    text-align: center;
    padding: 0;
    font:normal normal bold 100% sans-serif;
    color: white;
}*/
/*.nav {
    width: 100%;
    margin: 5px;
    display: inline-block;
    background-color: black;
}



.nav a {
    font-size: 28px;
    line-height: 100%;
    color: white;
    text-decoration: none;
}*/