body,nav,header,div,ul,li{
    margin: 0;
    padding: 0;
    border: 0;
}

#container, header, div.row{
    width: 100%;
}

nav li img {
    width: 70%;
    height: 70%;
}

nav ul li a{
    color: white;
}

nav ul li:hover{
    background-color: red;
}

.navbar-header:hover {
    background-color: inherit;
}

ul.profile{
    list-style-type: none;
}

div.row{
    margin: 0 auto;
}

div.btn{
	margin-top: 2%;
	background-color: red;
}

div.btn:hover{
	background-color: black;
}

.container-table{
    font-family: sans-serif;
    font-weight: bold;
}

.container-table a {
    display: inline-block;
    height: 50%;
    color: white;
    text-decoration: none;
}

/*nav ul li {
    height: 100%;
    padding: 0;
    line-height: 100%;
}

nav ul li a {
    text-align: center;
    padding: 0;
    font:normal normal bold 100% sans-serif;
    color: white;
}*/
/*.nav {
    width: 100%;
    margin: 5px;
    display: inline-block;
    background-color: black;
}



.nav a {
    font-size: 28px;
    line-height: 100%;
    color: white;
    text-decoration: none;
}*/